@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;800&display=swap');

:root {
  --bg-azul: #2941AB;
  --cor-destaque: #1ED760;
}

/* Estilos Gerais */
* {
  box-sizing: border-box;
  color: #000;
}

body {
  font-family: 'Public Sans', sans-serif;
}

img {
  max-width: 100%;
}

/* Cabecalho */
.cabecalho {
  max-width: 1170px;
  margin: 0 auto;
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.logo .imagem {
  width: 100px;
}

.logo .titulo {
  font-size: 1.0625em;
  font-weight: bolder;
  transition: .3s ease-in-out;
  margin-left: 7px;
}

.logo:hover .titulo {
  color: var(--cor-destaque);
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.menu li a {
  padding: 15px;
  transition: .3s ease-in-out;
}

.menu li a:hover {
  background: var(--cor-destaque);
}

/* Paineis */
.paineis {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  position: relative;
}

.paineis .titulo {
  font-size: calc(1em + 1vw);
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  transition: .3s ease-in-out;
}

.paineis .img-painel {
  background: no-repeat center;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
  filter: brightness(70%);
  transition: .3s ease-in-out;
}

.paineis .projeto1 {
  background-image: url(../img/painel1.jpg);
}

.paineis .projeto2 {
  background-image: url(../img/painel2.jpg);
}

.paineis .projeto3 {
  background-image: url(../img/painel3.jpg);
}

.paineis .projeto1.mostrar, .paineis .projeto2.mostrar, .paineis .projeto3.mostrar {
  opacity: 1;
}

.seta {
  background: url(../img/seta.png) no-repeat center;
  background-size: contain;
  width: 50px;
  height: 50px;
  position: absolute;
  text-indent: 100px;
  overflow: hidden;
  cursor: pointer;
}

.seta.inativo {
  opacity: .5;
  cursor: default;
}

.seta-voltar {
  left: 20px;
  transform: rotate(180deg);
}

.seta-avancar {
  right: 20px;
}

/* Quem somos */
.conteudo-principal .quem-somos {
  background: var(--bg-azul);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 10%;
}

.conteudo-principal .quem-somos .titulo {
  font-size: 3.125em;
  font-weight: bold;
  color: var(--cor-destaque);
  margin-left: 7px;
  margin-bottom: 20px;
}

.conteudo-principal .texto {
  font-size: 1.25em;
  color: #fff;
  line-height: 1.5;
}

.conteudo-principal .informacoes {
  width: 40%;
}

.conteudo-principal .quem-somos .img {
  width: 60%;
}

/* Footer */
.footer {
  padding: 80px 0 20px 0;
}

.footer .navegacao {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.redes-sociais {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.rede-social {
  display: flex;
  justify-content: center;
  padding: 15px;
  border: 2px solid #111;
  border-radius: 50%;
  width: 65px;
  font-size: 30px;
  transition: .3s ease-in-out;
}

.rede-social:hover {
  background: var(--cor-destaque);
}

.copy {
  margin-top: 70px;
  text-align: center;
}

/* Media Queries */
@media (max-width: 1170px) {
  .conteudo-principal .quem-somos {
    text-align: center;
    padding: 60px 80px;
  }

  .conteudo-principal .informacoes {
    width: auto;
  }

  .conteudo-principal .quem-somos .img {
    display: none;
  }

  .conteudo-principal .quem-somos .titulo {
    margin-left: 0;
  }
}

@media (max-width: 900px) {
  .paineis {
    height: 500px;
  }
}

@media (max-width: 630px) {
  .cabecalho, .footer .navegacao {
    flex-direction: column;
  }

  .logo {
    margin-bottom: 30px;
  }

  .conteudo-principal .quem-somos {
    text-align: left;
  }
}

@media (max-width: 550px) {
  .conteudo-principal .quem-somos {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 415px) {
  .conteudo-principal .quem-somos .titulo {
    font-size: 2.5em;
  }
}

@media (max-width: 360px) {
  .paineis .titulo {
    font-size: calc(.8em + 1vw);
  }

  .seta-voltar {
    left: 5px;
  }

  .seta-avancar {
    right: 5px;
  }
}